<%- include("header") -%>

<div class="edit-box">
  <form action="/delete" method="post" class="details">
    <div class="edit-box-form">
      <input type="text" name="namee" placeholder="name" required />
      <hr />
      <input
        type="text"
        name="description"
        placeholder="description"
        required
      />
      <hr />
    </div>
  </form>
</div>
